vendor
node_modules

bootstrap/cache/**
public/build
public/hot
storage/app/files
storage/clockwork
storage/logs/*

.git
tests

.editorconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc
phpunit.xml
